* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1088px;
}

.page-header {
    background-image: url("../images/Image.jpg");
    width: 100%;
    height: calc(100vh - 27px);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 27px);
    background-color: rgba(0, 0, 0, 0.4);
}

.page-nav-b {
    background-color: rgba(0, 0, 0, 0.4);
    height: 93px;
    border-top: 2px solid #FFFFFF33;
    border-bottom: 2px solid #FFFFFF33;
    z-index: 2;
}

.page-nav-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.page-logo {
    display: flex;
    font: normal normal 800 35px/47px Nunito Sans;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: #FF0000;
    height: 93px;
    font-weight: 800;
    z-index: 2;
}

.page-logo span {
    color: white;
}

.page-nav-list {
    display: flex;
}

.page-nav-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font: normal normal bold 16px/22px Nunito Sans;
    text-transform: uppercase;
    font-size: 20px;
    padding: 35px;
    height: 93px;
}

.page-nav-list a:hover{
    background-color: #FFFFFF33;
}

.banner-content {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.banner-title {
    font: normal normal 900 90px/90px Nunito Sans;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #00000040;
    padding-top: 25%;
    padding-bottom: 15px;
    opacity: 1;
}

.banner-text {
    text-align: center;
    font: normal normal bold 16px/22px Nunito Sans;
    padding-top: 25px;
}

.header-btn {
    text-align: center;
    font: normal normal bold 16px/22px Nunito Sans;
    padding-top: 90px;
}

.h-btn1 {
    text-decoration: none;
    color: white;
    width: 220px;
    height: 66px;
    background-color: #FF0000;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    padding: 22px 55px;
    margin-right: 20px;
}

.h-btn2 {
    text-decoration: none;
    color: #FF0000;
    width: 220px;
    height: 66px;
    background-color: white;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    padding: 22px 55px;
    margin-left: 20px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #FF0000;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 6px #FF00004D;
    position: absolute;
    align-self: center;
    bottom: -27px;
}

/* Part 2 - Blog*/

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 110px;
}

.blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    z-index: 3;
    font: normal normal bold 35px/47px Nunito Sans;
    position: relative;
}

.blog-title::before {
    content: "";
    background-color: #FF0000;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.blog-title::after {
    content: "";
    background-color: #FF0000;
    width: 50px;
    height: 3px;
    margin-left: 10px;
}

.blog-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-1 {
    flex-direction: column;
    margin: 60px 10px 60px 10px;
}

.blog-img {
    width: 352px;
    height: 234px;
}

.blog-art-title {
    color: #6A6A6A;
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    padding-top: 15px;
    line-height: 80px;
    width: 231px;
}

.blog-text {
    color: #6A6A6A;
    text-align: left;
    font: normal normal 300 14px/19px Open Sans;
    width: 260px;
    padding-bottom: 50px;
}

.blog-button {
    text-decoration: none;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    color: white;
    width: 142px;
    height: 40px;
    background-color: #FF0000;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    padding: 14px 40px;
    margin-top: 50px;
}

/* Part 3 - service section */

.service {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #28272C;
    margin-bottom: 20px;
}

.service-title {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: 100px;
    z-index: 3;
    font: normal normal bold 35px/47px Nunito Sans;
    position: relative;
}

.service-title::before {
    content: "";
    background-color: #FF0000;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.service-title::after {
    content: "";
    background-color: #FF0000;
    width: 50px;
    height: 3px;
    margin-left: 10px;
}

.service-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}

.article-service-1 {
    flex-direction: column;
    margin: 60px 10px 60px 10px;
}

.service-img {
    width: 170px;
    height: 170px;

}

.service-art-title {
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    padding-top: 15px;
    line-height: 80px;
    width: 231px;
    color: #FFFFFF;
}

.service-text {
    color: #B2B2B2;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    width: 231px;
    padding-bottom: 50px;
}

.service-button {
    text-decoration: none;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    color: white;
    width: 142px;
    height: 40px;
    background-color: #FF0000;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    padding: 14px 40px;
    margin-top: 50px;
}

/* Part 4 - Contact section */

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.contact-title {
    display: flex;
    justify-content: center;
    color: #000000;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 3;
    font: normal normal bold 35px/47px Nunito Sans;
    position: relative;
}

.contact-title::before {
    content: "";
    background-color: #FF0000;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.contact-title::after {
    content: "";
    background-color: #FF0000;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.contact-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-img {
    width: 444px;
    height: 316px;
}

.form-container {
    display: flex;
    flex-direction: column;

}

input {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    width: 444px;
    height: 38px;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}

input::placeholder {
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    padding: 10px;
}

input:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 8px;
}

textarea {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    width: 444px;
    height: 140px;
    margin-left: 20px;
    cursor: pointer;
}

textarea::placeholder {
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    padding: 10px;
}

textarea:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 8px;
}

.checkbox {
    cursor: pointer;
    display: flex;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox span {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    background: #FFFFFF 0% 0% no-repeat;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 20px;
}

label {
    display: block;
    text-align: left;
    font: normal normal 300 10px/14px Open Sans;
    color: #B2B2B2;
    width: 412px;
    margin-top: 15px;
}

.checkbox input:checked + span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    padding: 2px;
    background-image: url(../images/IconCheck.svg);
    background-position: center;
}

.send-btn {
    text-decoration: none;
    color: #FF0000;
    align-self: flex-end;
    font: normal normal bold 14px/19px Nunito Sans;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 40px;
    width: 142px;
    height: 40px;
    padding: 10px;
    margin-top: 30px;
}

/*Part 5 - Footer section */

.footer {
    background-color: #28272C;
    height: 232px;
}

.footer-logo {
    display: flex;
    text-align: left;
    font: normal normal 800 25px/34px Nunito Sans;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    color: #FF0000;
}

.footer-logo span {
    color: white;
    padding: 7px;
}

.f-logo {
    box-sizing: content-box;
    width: 20px;
    height: 22px;
    padding-right: 15px;
    padding-left: 0px;
    margin-left: 0px;
}

.copy {
    display: flex;
    font: normal normal 300 12px/16px Nunito Sans;
    color: #D1D1D1;
    justify-content: flex-end;
}

.footer-container {
    display: flex;

}

.footer-p-1 a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    font: normal normal bold 14px/19px Nunito Sans;
    margin-left: 10px;
    line-height: 25px;
    margin-right: 200px;
}

.footer-p-1 a:hover {
    color: #FF0000;
}

.footer-p-2 a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    font: normal normal bold 14px/19px Nunito Sans;
    margin-left: 10px;
    line-height: 25px;
}

.footer-p-2 a:hover {
    color: #FF0000;
}